@font-face {
  font-family: 'GuardianEgyptianBlack';
  src:  url('gfx/guardian-egyptian-black.woff') format('woff');
}

@font-face {
  font-family: 'GuardianSansBlack';
  src:  url('gfx/guardian-sans-black.woff') format('woff');
}

/* ------------------------------------ */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: "Merriweather", "Helvetica Neue", helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background-color: #eeede9;*/
	background-color: #ffffff;
	padding: 40px 4%;
	margin: 0;
}

#mainWrapper {
	max-width: 510px;
	margin-right: auto;
	margin-left: auto;
}

/* ------------------------------------ */

.contentBox {
	overflow: hidden;
	width: 100%;
	padding: 0 0 26px 0;
	margin: 0 0 26px 0;
}

.logo {
	text-align: center;
	background-color: transparent;
	padding-bottom: 0;
}

.logo img {
	width: 250px;
	margin-bottom: 0;
}

.header {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 13px;
	text-align: center;
	color: #292827;
	background-color: transparent;
	border-top: 1px solid #b3b2b0;
	border-bottom: 1px solid #b3b2b0;
	padding: 0;
}

.introText {
	/*background-color: #ffffff;*/
	border-bottom: solid 1px #b3b2b0;
	padding: 0 0 16px 0;
	margin-bottom: 34px;
}

.article {
	background-color: #ffffff;
	/*border-top: solid 1px #f1f0ec;*/
	/*border-right: solid 1px #f1f0ec;*/
	border-bottom: solid 1px #b3b2b0;
	/*border-left: solid 1px #f1f0ec;*/
	/*border-radius: 5px;*/
}

/* ------------------------------------ */

p.vignett {
	/*background-color: red;*/
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	/*color: #ffffff;*/
	color: #b3b2b0;
	/*color: #292827;*/
	/*border-bottom: solid 1px #eeede9;*/
	padding: 6px 0;
	margin: 0;
}

img {
	vertical-align: bottom;
	width: 100%;
	margin: 0 0 12px 0;
}

h1 {
	font-family: "Merriweather", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	color: #292827;
	padding: 0 0 8px 0;
	margin: 0;
}

p.ingress {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 1.2;
	color: #292827;
	padding: 0 0 8px 0;
	margin: 0;
}

.introText p {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 17px;
	line-height: 1.4;
}

.introText a {
	/*color: #0771d8;*/
	color: #292827;
}

